{{ define "title" }}
{{ .Title }}
{{ end }}

{{ define "identify" }}
<script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
{{ end }}

{{ define "identifyInit" }}
  {{ $opts := dict "targetPath" "identity-init.js" "minify" "true" }}
  {{ $built := resources.Get "js/identity-init.js" | js.Build $opts }}
  <script type="text/javascript">{{ $built.Content | safeJS }}</script>
{{ end }}

{{ define "main" }}
  <div class="columns">
    <div class="column">
      {{ $news := .Site.GetPage "section" "news" }}
      {{ partial "news/list" $news }}
    </div>
    <div class="column is-narrow">
      <div class="is-hidden-mobile">
        {{ .Render "sideBar" }}
      </div>
    </div>
  </div>

{{ end }}
