{{ $imageByType := dict "sd" "slim-ducks.png" "sd-party" "slim-ducks-party.jpg" "sd-party-2" "slim-ducks-season-end.jpg" "sd-special" "slim-ducks-special.jpg" "ama" "slim-ducks-ama.png" "lt" "flag-lt.jpg" "lv" "flag-lv.jpg" "est" "flag-est.jpg" "blg" "flag-blg.jpg" "ger" "flag-ger.jpg" "slvk" "flag-slvk.jpg" "pl" "flag-pl.jpg" "it" "flag-it.jpg" "fr" "flag-fr.jpg" "aus" "flag-aus.jpg" "cz" "flag-cz.jpg" "es" "flag-es.jpg" }}
{{ $image := resources.Get (printf "images/%s" (index $imageByType .Params.eventType)) }}
{{ if $image }}

  {{ $blurImage := $image.Resize "50x" }}
  {{ $image := $image.Resize "640x" }}
  
  <img
    data-sizes="auto"
    class="lazyload blur-up"
    src={{ $blurImage.RelPermalink }}
    data-srcset="
      {{ $image.RelPermalink }} 640w
    "
    alt={{ .Title }}
  />
{{ end }}